set scrolloff=5
set incsearch
set hlsearch
set ignorecase
set smartcase
set backspace=indent,eol,start

let mapleader = "\<Space>"

nmap <leader>! :action Stop<CR>
nmap <leader>b :action ToggleLineBreakpoint<CR>
nmap <leader>i :action AutoIndentLines<CR>
nmap <leader>tr :action RiderUnitTestRunContextAction<CR>
nmap <leader>tt :action RiderUnitTestDebugContextAction<CR>

nmap cs :action ChangeSignature<CR>
nmap g] :action GotoImplementation<CR>
nmap ge :action ReSharperGotoNextErrorInSolution<CR>
nmap gl :action LocateInSolutionView<CR>
nmap gq :action ShowHoverInfo<CR>

vmap cc :action SilentCodeCleanup<CR>
vmap gq :action QuickJavaDoc<CR>
vmap n :action SelectNextOccurrence<CR>
vmap sl :action EditorSortLines<CR>
